<!DOCTYPE html>
{%load static%}
{%load crispy_forms_tags%}
	<html lang="en">
	<head>
		<script src= "https://code.jquery.com/jquery-3.6.0.min.js"  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"> </script>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>solicitud | Turno</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
		<link rel="icon" href="{% static 'img/logo.png'%}">
		
		<style>
		
			body {
				background: #ece6d9;
				background: linear-gradient(to right, #ece6d9, #E3DAC9);
			}
			.bg {
				background-image: url(static/img/turnos_regis.jpg);
				background-repeat: no-repeat;
				background-position: center center;
			}
		</style>
		
	</head>
	<body>
		<script>
			$(document).ready(function() {
				function disableBack() {
					window.history.forward()
				}
				window.onload = disableBack();
				window.onpageshow = function(e) {
					if (e.persisted)
						disableBack();
				}
			});
		</script>
	
		<div class="container w-75 bg-primary mt-5 shadow rounded">
			<div class="row align-items-stretch">
				<div class="col bg d-none d-lg-block col-md-5 col-lg-5 col-xl-6 rounded">
					<!-- COLUMNA DE IMAGEN -->
				</div>
				<div class="col bg-white p-5 rounded-end">
				
					<h2 class="fw-bold text-center mt-4 mb-3">Registro Turno</h2>
					<div class="col">
                     
					  
				
						
					</div>
						<small class="form-text text-muted mb-3">
							señor {{obj.correo}} solicite su tipo de turno
						</small>
					
					<div class="form-group">
                   
						<form action="" method="post">

							{%csrf_token%}
                            

							<select name="tipo_turno" class="form-select">
								<option value="1">Ventas</option>
								<option value="2" selected>Reclamos</option>
								<option value="3">Asesoría</option>
							  </select>
								

													 
							<button class="btn btn-primary">solicitar turno</button>
						</form>




						
					
		            </div>

		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
		<script src="{% static 'js/bloque.js' %}"></script>
		
	</body>
	</html> 