<!DOCTYPE html>
{%load static%}
{%load crispy_forms_tags%}
	<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>solicitud | Turno</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
		<link rel="icon" href="{% static 'img/logo.png'%}">
		
		<style>
		
			body {
				background: #ece6d9;
				background: linear-gradient(to right, #ece6d9, #E3DAC9);
			}
			.bg {
				background-image: url(static/img/turnos_regis.jpg);
				background-repeat: no-repeat;
				background-position: center center;
			}
		</style>
		
	</head>
	<body>
	
		<div class="container w-75 bg-primary mt-5 shadow rounded">
			<div class="row align-items-stretch">
				<div class="col bg d-none d-lg-block col-md-5 col-lg-5 col-xl-6 rounded">
					<!-- COLUMNA DE IMAGEN -->
				</div>
				<div class="col bg-white p-5 rounded-end">
				
					<h2 class="fw-bold text-center mt-4 mb-3">Registro Turno</h2>
					<div class="col">
						<!--
							<button class="btn btn-outline-danger w-100 my-3">
							<div class="row align-items-center">	
								<div class="col-12 col-md-12 text-center">
									Solicitar turno
								</div>
							</div>
						</button>

						-->
						
					</div>
						<small class="form-text text-muted mb-3">
							Busque su correo previamente registrado y solicite su turno.
						</small>
					
					<div class="form-group">

						{%if validador%}
						<form action="" method="POST">
							{%csrf_token%}

                            {{turno | crispy}}
							

							<button class="btn btn-success">Solicitar</button>
                        </form>
						
						{%endif%}
                        
						{%if mensaje%}
							<div class="alert alert-success">
								turno registrado con exito {{usuario}}
							</div>
							<a href="{% url 'turno' usuario %}" class="btn btn-primary">ir a sala de espera</a>
							{%endif%}
				
		            </div>

		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	</body>
	</html> 