{%load static%}
<!DOCTYPE html>

	<html lang="en">
	<head>
		<script src= "https://code.jquery.com/jquery-3.6.0.min.js"  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"> </script>
		
		<meta http-equiv="refresh" content=4 >



		
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Eleccion juego | sala de espera</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
		<link rel="icon" href="{% static 'img/logo.png'%}">



		<script >
			window.addEventListener('popstate',function(event){
				history.pushState(null,null,window.location.pathname);
				history.pushState(null,null,window.location.pathname)

			},false)
		</script>
		
		
		<style>
		
			body {
				background: #B3F8BE;
				background: linear-gradient(to right, #B3F8BE, #E3DAC9);
				align-items: center;
			}
			.bg {
				background-image: url(static/img/keca.jpg);
				background-repeat: no-repeat;
				background-position: center center;
			}
			.tabla{
				width: 300px;
				background-color: rgb(110, 110, 113);
				margin-top: 8%;
				margin-left: 14%;
			}
		</style>


	</head>
	
  
	<body >




		<div class="container w-75 bg-primary mt-5 shadow rounded">
			<div class="row align-items-stretch">
				<div class="col bg d-none d-lg-block col-md-5 col-lg-5 col-xl-6 rounded">
					<!-- COLUMNA DE IMAGEN -->
				</div>
				<div class="col bg-white p-5 rounded-end">
				
					<h2 class="fw-bold text-center mt-4 mb-3">Menú usuario</h2>
					<div class="col">
						<!--
							<button class="btn btn-outline-danger w-100 my-3">
							<div class="row align-items-center">	
								<div class="col-12 col-md-12 text-center">
									Solicitar turno
								</div>
							</div>
						</button>
						-->
						
					</div>
						<small class="form-text text-muted mb-3">
							Bienvenido a la sala de espera señor usuario, mientras es notificado para ser atendido, puede disfrutar de los siguientes juegos.
						</small>
					
					<div class="form-group">
						<div class="row">
							<div class="col">
								<button class="btn btn-outline-primary w-100 my-1">
									<div class="row align-items-center">	
										<div class="col-12 col-md-12 text-center" onclick="window.location='{% url 'tetris' turno_id %}';">
											Tetris
										</div>
										{% comment %} <a href="{% url 'tetris' turno_id %}" target="_blank" class="btn btn-dark">Tetris</a> {% endcomment %}
									</div>
								</button>
								
								
							</div>
							<div class="col">
								<button class="btn btn-outline-primary w-100 my-1">
									<div class="row align-items-center">	
										<div class="col-12 col-md-12 text-center" onclick="window.location='{%url 'memoria' turno_id %}';">
											Memorama
										</div>
										{% comment %} <a href="{%url 'memoria' turno_id %}" class="btn btn-warning" >Memorama</a> {% endcomment %}
									</div>
								</button>
							</div>
						</div>
					</div>
					
				</body>
				</div>
			</div>
		</div>

      <div>


		<section class="tabla">

			<div>
		
				
			</div>
			<div style="border: 1pt solid #fbb; text-align: center;">
				<table class="table" id="tabla_act" style="margin: 0 auto;">
					<thead>
					<tr>
						<th scope="col">Número de su turno</th>
						<th scope="col">Estado de su turno</th>
						<th scope="col">Tipo de turno</th>
						
					</tr>
					</thead>
			</div>
				<tbody>
		
					{%for turno in turno%}
					<tr>
						
						<td>{{turno.id}}</td>
						<!--<td>{{turno.id_user_tur_id}}</td>-->
						{%if turno.estado_tur == 1%}
						<td>En espera</td>
						{%endif%}
						{%if turno.estado_tur == 2%}
						<td>Atencion</td>
						{%endif%}
						{%if turno.estado_tur == 3%}
						<td>Atendido</td>
						{%endif%}
						{%if turno.tipo_turno == 2%}
						<td>Reclamo</td>
						{%endif%}
						{%if turno.tipo_turno == 1%}
						<td>Ventas</td>
						{%endif%}
						{%if turno.tipo_turno == 3%}
						<td>Asesoría</td>
						{%endif%}
						
					  </tr>
					
					{%endfor%}
				  
				  
				</tbody>
			  </table>
		
		   {%if turno.0.estado_tur == 2 %}
		   <div class="alert alert-warning">
			Por favor pase a ventanilla, es su turno.
		   </div>
		   {%endif%}
		   {%if turno.0.estado_tur == 3 %}
		   <div class="alert alert-success">
			Su turno ha sido procesado con éxito, muchas gracias por disponer de nuestros servicios.
		   </div>
		   {%endif%}
		   <a href="{% url 'inicio'%}" class="btn btn-danger">Salir</a>
		</section>
		



	  </div>



		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
		
	</body>
	</html> 